@media (max-width: 768px) {
    .dashboard>.info-box {
        flex: 1 1 50%;
        max-width: 50%;
        border-right: 1px solid var(--border-light);
    }

    .dashboard>.info-box:nth-child(2n) {
        border-right: none;
    }

    .left-header #logoBtn {
        width: 130px;
    }
}
