.dashboard {
    border-radius: var(--radius-xl);
    background: var(--bg-white);
    box-shadow: var(--shadow-lg);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--spacing-md);
    padding: var(--spacing-md);
    width: 100%;
}

.dashboard__info-box {
    flex: 1 1 25%;
    max-width: 25%;
    padding: var(--spacing-xl);
    text-align: center;
    border-right: 1px solid var(--border-light);
}

.dashboard__info-box:nth-child(4n) {
    border-right: none;
}

.dashboard__info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dashboard__info-title {
    font-size: 14px;
    font-weight: 600;
}

.dashboard__info-text {
    font-size: 12px;
}

.dashboard__info-text-success {
    padding-inline: 5px;
    border-radius: var(--radius-sm);
    font-size: 13px;
    background-color: var(--color-success);
    color: var(--text-white);
    white-space: nowrap;
}
